
*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.805);
}

.level1{
    background-color: rgba(233, 225, 225, 0.258);
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    color: white;
    margin-top: 50px;
    
}

.level1 h1{
    text-align: center;
    text-transform: uppercase;

}

.level1 form{
    margin: auto;
    margin: 50px 20px;

}

.level1 form input{
    width: 90%;
    margin: auto;
    height: 40px;
    border-radius: 50px;
    border: none;
    text-align: center;

}


.level1 p {
    margin: 20px;
}

.level1 p a{
    color: rgb(38, 11, 11);
    font-weight: 600;
    
}

.level1 button{
    padding: 12px;
    border-radius: 4px;
    border: none;
    width: 20%;
    margin: auto;
    background-color: rgba(38, 36, 36, 0.97);
    color: white;

}

.level1 button:hover{
    background-color: white;
    color: black;

}


.level2{
    display: none;
    height: 150px;
    background-color: rgba(14, 9, 9, 0.821);
    padding: 20px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    color: white;
    text-align: center;
    transform: translateY(50%);
    transition: all 1s ease-in;

}

#para{
    font-size: larger;
}




